<html>

<head>
	<link href="seshify.css" rel="stylesheet">
</head>

<body>
	<div class="container">
        <div class="header">
            <h1 class="title">SESHIFY</h1>
            <ul class="nav">
            	<li><a href="seshify.html">Home</a></li>
                <li><a href="#">The Team</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        
        <div class="center">
        	<div class="password">
        	<form action="startparty.html">
            	<h1 id="code-text">Enter Code</h1>
            	<input type="text" name="code" class="code"><br>
                <input type="submit" value="Enter" class="entercode">
            </form>
            </div>
        </div>
     </div>
</body>


</html>