<html>

<head>
    <link href="seshify.css" rel="stylesheet">
</head>

<body>
	<div class="container">
        <div class="header">
            <h1 class="title">SESHIFY</h1>
            <ul class="nav">
            	<li><a href="seshify.html">Home</a></li>
                <li><a href="#">The Team</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        
        <div class="center">
            <a href="login.html" class="button">Login with Spotify</a>
        </div>
     </div>
</body>

</html>